body {
  font-size: 15px;
  color: #111111;
  background-color: #eeeeee;
  max-width: 800px;
  margin: 0 auto 0 auto;
  padding: 0 20px;
  text-align: justify;
}

blockquote {
  font-style: italic;
}

fieldset {
  box-sizing: border-box;
}

input {
  color: #111111;
  background-color: #eeeeee;
  border-style: solid;
  outline: none;
  font-family: monospace;
  font-size: 15px;
  width: calc(100% - 6.375px);
}
