@font-face {
	font-family: commodore_pro;
	src: url(C64_Pro_Mono-STYLE.ttf);
}

:root {
	--dark-color: #4E3D9B;
	--light-color: #9885E4;
}

body {
	position: relative;
	background-color: var(--light-color);
	height: 100vh;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

/*
body:after {
	position: fixed;
	content: "";
	height: 300%;
	width: 300%;
	opacity: 0.3;
	background: url(https://grainy-gradients.vercel.app/noise.svg);
	animation: grain 8s steps(10) infinite;
	pointer-events: none;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}
*/

main {
	position: relative;
	font-family: commodore_pro;
	margin: auto;
	height: 42rem;
	width: 64rem;
	color: var(--light-color);
	background-color: var(--dark-color);
	border: 2px solid var(--dark-color);
}

textarea {
	box-sizing: border-box;
	padding: 0;
	font-family: commodore_pro;
	font-size: 1rem;
	color: transparent;
	background-color: transparent;
	text-shadow: 0 0 0 var(--light-color);
	border: none;
	outline: none;
	resize: none;
	width: 100%;
	height: 1rem;
	overflow: hidden;
	white-space: pre-wrap;
	word-wrap: break-word;
}

textarea::selection {
	background: var(--light-color);
	color: var(--dark-color);
}

textarea::-webkit-scrollbar {
	display: none;
}

#output {
	width: 64rem;
	white-space: pre;
	tab-size: 2;
}

#input-area {
	position: relative;
}

#cursor {
	position: absolute;
	top: 0; left: 0;
	pointer-events: none;
	height: 1rem;
	width: 64rem;
}

#stack {
	position: absolute;
	bottom: 0;
	color: var(--light-color);
	width: 64rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: none;
}

#autofocus {
	position: absolute;
	height: 100%;
	width: 100%;
	cursor: text;
}
